<div style="width: 100%" fxLayout="row wrap" 
      fxLayoutAlign="center space-around" fxLayoutGap.gt-sm="20px">
  <div fxLayout="column no-wrap" fxLayoutAlign="space-around center"
        style="min-height: 200px;" fxFlexOrder="1" >
      <mat-card>
      <mat-tab-group>
        <mat-tab label="Tasks" >
          <div class="parent-card">
              <mat-card *ngFor="let todo of activeTodos; let i = index" >
                  <mat-card-title>{{ todo.text }}</mat-card-title>
                  <mat-card-actions fxLayout="row wrap" fxLayoutAlign="flex-end center" >
                    <button mat-icon-button color="primary" >
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" (click)="completeTodo(todo._id, index)" >
                      <mat-icon>done</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="removeTodo(todo, index)" >
                        <mat-icon>delete</mat-icon>
                      </button>
                  </mat-card-actions>
                </mat-card>
          </div>
            
        </mat-tab>
        <mat-tab label="Finished">
          <div class="parent-card">
              <mat-card *ngFor="let todo of completedTodos; let i = index" >
                <mat-card-title>{{ todo.text }}</mat-card-title>
                {{todo.completedAt | date}}
                <mat-card-actions fxLayout="row wrap" fxLayoutAlign="flex-end center" >
                  <button mat-icon-button color="primary" (click)="resetTodo(todo._id, index)" >
                    <mat-icon>refresh</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" (click)="removeTodo(todo, index)" >
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-card-actions>
              </mat-card>
          </div>
          
        </mat-tab>
      </mat-tab-group>

      <div fxFlexOrder="2" fxLayout="row nowrap"
          fxLayoutAlign="end space-around">
          <button mat-fab fxFlexAlign="center center">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-card>
      
    </div>
    
</div>
  

